<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<table class="table">
    <tr>
        <th>名字</th>
        <th>电话</th>
        <th>邮箱</th>
        <th>操作</th>
    </tr>
    <%for(var i=0;i<rows.length;i++){%>
     <tr>
         <td>
             <%=rows[i].name%>
         </td>
         <td>
             <%=rows[i].phone%>
         </td>
         <td>
             <%=rows[i].email%>
         </td>
         <td>
             <a href="/admin/edit/<%=rows[i].id%>" class="btn btn-success">
                 修改
             </a>
             <a href="/admin/del/<%=rows[i].id%>" class="btn btn-danger">
                 删除
             </a>
         </td>
     </tr>
    <%}%>

</table>
</body>
</html>